.postContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 52px;
    background-color: #DFD9C3;
}
.postBox{
    position: fixed;
    bottom: 60px;
    display: flex;
    width: 100%;
    height: 57px;
    background-color: #F8F4E9;
    align-self: flex-end;
    margin-top: auto;
    justify-content: space-between;
}

.postInput {
    display: flex;
    width: 100%;
    height: 100vh;
    border: none;
    resize: none;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    background-color: #DFD9C3 ;
    outline: none;
}

.uploadBox_icon_post{
    border-left: 1px solid #838383;
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.delete_icon{
    border-right: 1px solid #838383;
    height: 57px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.leftIcon{
    height: 35px;
    width: 35px;
    margin: 15px;
}

.postText{
    cursor: pointer;
    color: #987100;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}

.PoText{
    display: flex;
    align-items: center;
}

.uploadtype{
    position: fixed;
    bottom: 60px;
    background-color: #F8F4E9;
    width: 100%;
    height: 341px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.uploadtype_items{
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.uploadtype_items h5{
    font-size: 18px;
    font-weight: 400;
}

.cancelbutton{
    border-radius: 9px;
    background: #FFF;
    height: 50px;
    width: 90%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin:20px auto;
    border: none;
    color: #987100;
    font-size: 18px;
    font-weight: 700;
}