.loginBox {
  width: 30%;
  height: 50%;
  background-color: rgb(197 221 255 / 50%);
  padding: 2rem;
  border-radius: 5px;
  margin: auto;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

input {
  color: rgb(5, 24, 66);
  border: 1px solid #773833;
  border-radius: 5px;
  font-size: 1rem;

  padding: 5px 10px;
}

.error {
  color: darkred;
}
