.postParent{
    padding: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #413F3D;
    margin-top: 4px;
    border-radius: 9px;
    align-items: flex-start;
    gap: 7px;
}

.profile-photo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.nameDate{
    display: flex;
    flex-direction: column;
    padding: 0px 6px;
    color: #F8F4E9;
    align-items: start;
}

.nameDate p{
    color: #C8C6C6;
    font-size: 12px;
    font-weight: 300;
}

.nameDate h5{
    font-size: 16px;
    font-weight: 400;
}

.userComment p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #F8F4E9;
    font-size: 12px;
    font-weight: 400;
}

.userComment span{
    color: #A4A4A4;
    font-size: 14px;
    font-weight: 400;
}

.translation{
    color: #FFDB72;
    font-size: 14px;
    font-weight: 500;
    background: none;
    border: none;
}

.postPhoto img{
    width: 100%;
    height: 330px;
}

.profilePhoto{
    height: 45px;
}

.profilePhoto img{
    height: 100%;
}

.like-comment-forward{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leftsectionIcons , .rightSectionIcon{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.rightSectionIcon span{
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
}

